@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans font-bold text-gray-900;
}

h1 {
  @apply text-4xl mb-4;
}

h2 {
  @apply text-3xl mb-2;
}

h3 {
  @apply text-2xl mb-1;
}

h4 {
  @apply text-xl mb-0.5;
}

main {
  @apply flex flex-col w-full text-gray-700;
  overflow: hidden;
}

.item-property .easy-edit-wrapper.easy-edit-hover-on {
  font-style: unset;
}

.item-property .easy-edit-button-wrapper {
  display: none;
}

.item-property .easy-edit-inline-wrapper, .item-property .easy-edit-inline-wrapper .easy-edit-component-wrapper {
  @apply flex flex-row items-center w-full;
}

.item-property .easy-edit-inline-wrapper .easy-edit-component-wrapper input {
  @apply block items-center w-full outline-0 focus:ring-0 bg-transparent text-gray-700;
}

input:focus {
  @apply ring-0;
}
